[Desktop Entry]
Version=1.0
Type=Application
Name=Md Editor
GenericName=Markdown Editor
Comment=Typora-style Markdown/PlainText editor
Exec=md_editor %f
Icon=md-editor
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/markdown;text/plain;
StartupNotify=true
